.mod {
    width: 900px !important;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -455px;
    border-radius: 2px;
    max-height: 450px;
      overflow-y: auto;
  }
  .modBid{
    width: 1000px !important;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -455px;
    border-radius: 2px;
    max-height: 800px;
      overflow-y: auto;
  }

  ::ng-deep .cdk-overlay-container { z-index: 1200 !important; }
