<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" 
type = "square-loader" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<form class="example-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8" *ngIf="!IsAdmin">
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-10" >
                            <label style="padding-top: 13px">Do you want to notify shareholders that you are intertested to buy share?</label>
                        </div>
                        <div class="col-md-4" >
                            <mat-form-field style="width: 200px" >
                                <input matInput placeholder="Number of shares" type="text" [(ngModel)]="InterestedShares" formControlName="InterestedSharesFC" >
                                <mat-error *ngIf="formGroup.controls['InterestedSharesFC'].errors?.required">Shares is required</mat-error>  
                                <mat-error *ngIf="formGroup.controls['InterestedSharesFC'].errors?.pattern">Please enter valid share</mat-error>  
                              </mat-form-field>
                              <mat-form-field style="width: 200px" >
                                  <input matInput placeholder="Unit price" type="text" [(ngModel)]="InterestedUnitPrice" formControlName="InterestedUnitPriceFC" > 
                                  <mat-error *ngIf="formGroup.controls['InterestedUnitPriceFC'].errors?.required">Unit price is required</mat-error>    
                                  <mat-error *ngIf="formGroup.controls['InterestedUnitPriceFC'].errors?.pattern">Please enter a valid unit price price</mat-error>  
                               </mat-form-field>
                        </div>
                        <button mat-raised-button type="button" class="btn btn-danger pull-right" (click)="Notify()">Notify</button> 
                    </div>
              </div>
            </div>
            <div class="col-md-12" *ngIf="!IsAdmin">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Sale List</h4>
                        <p class="card-category"> List of shares available for purchase</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">
                                 <!-- SaleId Column -->
                                 <ng-container matColumnDef="SaleId">
                                    <th mat-header-cell *matHeaderCellDef> SaleId </th>
                                    <td mat-cell *matCellDef="let element"> {{element.SaleId}} </td>
                                  </ng-container>
                                  <!-- ShareDetailsId Column -->
                                  <ng-container matColumnDef="ShareDetailsId">
                                    <th mat-header-cell *matHeaderCellDef> ShareDetailsId </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ShareDetailsId}} </td>
                                  </ng-container>
                                  <!-- ProposalId Column -->
                                  <ng-container matColumnDef="ProposalId">
                                    <th mat-header-cell *matHeaderCellDef> ProposalId </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ProposalId}} </td>
                                  </ng-container>
                                  <!-- NumberOfShares Column -->
                                  <ng-container matColumnDef="NumberOfShares">
                                    <th mat-header-cell *matHeaderCellDef> Number Of Shares </th>
                                    <td mat-cell *matCellDef="let element"> {{element.NumberOfShares}} </td>
                                  </ng-container>
                                  <!-- UnitPrice Column -->
                                  <ng-container matColumnDef="UnitPrice">
                                    <th mat-header-cell *matHeaderCellDef> Unit Price </th>
                                    <td mat-cell *matCellDef="let element"> {{element.UnitPrice}} </td>
                                  </ng-container>
                                  <!-- SaleRemarks Column -->
                                  <ng-container matColumnDef="SaleRemarks">
                                    <th mat-header-cell *matHeaderCellDef> Remarks </th>
                                    <td mat-cell *matCellDef="let element"> {{element.SaleRemarks}} </td>
                                  </ng-container>
                                  <!-- Status Column -->
                                  <ng-container matColumnDef="Status">
                                    <th mat-header-cell *matHeaderCellDef> Status </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Status_String}} </td>
                                  </ng-container>
                                  <!-- StatusComments Column -->
                                  <ng-container matColumnDef="StatusComments">
                                    <th mat-header-cell *matHeaderCellDef> StatusComments </th>
                                    <td mat-cell *matCellDef="let element"> {{element.StatusComments}} </td>
                                  </ng-container>
                                  <!-- AvailableShares Column -->
                                  <ng-container matColumnDef="AvailableShares">
                                    <th mat-header-cell *matHeaderCellDef> AvailableShares </th>
                                    <td mat-cell *matCellDef="let element"> {{element.AvailableShares}} </td>
                                  </ng-container>
                                  <!-- ShareDescription Column -->
                                  <ng-container matColumnDef="ShareDescription">
                                    <th mat-header-cell *matHeaderCellDef> Description </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ShareDescription}} </td>
                                  </ng-container>
                                  <!-- CreatedDt Column -->
                                  <ng-container matColumnDef="CreatedDt">
                                    <th mat-header-cell *matHeaderCellDef> Created Date </th>
                                    <td mat-cell *matCellDef="let element"> {{element.CreatedDt  | date}} </td>
                                  </ng-container>
                                  <!-- CreatedBy Column -->
                                  <ng-container matColumnDef="CreatedBy_String">
                                    <th mat-header-cell *matHeaderCellDef> CreatedBy </th>
                                    <td mat-cell *matCellDef="let element"> {{element.CreatedBy_String}} </td>
                                  </ng-container>
                                  <!-- UpdatedDt Column -->
                                  <ng-container matColumnDef="UpdatedDt">
                                    <th mat-header-cell *matHeaderCellDef> UpdatedDt </th>
                                    <td mat-cell *matCellDef="let element"> {{element.UpdatedDt  | date}} </td>
                                  </ng-container>
                                  <!-- UpdatedBy_String Column -->
                                  <ng-container matColumnDef="UpdatedBy_String">
                                    <th mat-header-cell *matHeaderCellDef> UpdatedBy </th>
                                    <td mat-cell *matCellDef="let element"> {{element.UpdatedBy_String}} </td>
                                  </ng-container>
                                  <!-- IsNegotiable Column -->
                                  <ng-container matColumnDef="IsNegotiable">
                                     <th mat-header-cell *matHeaderCellDef> Price Negotiable </th>
                                     <td mat-cell *matCellDef="let element"> {{element.IsNegotiable?'Yes':'No'}} </td>
                                   </ng-container>
                                   <!-- ShareholderContactNumber Column -->
                                   <ng-container matColumnDef="ShareholderContactNumber">
                                      <th mat-header-cell *matHeaderCellDef> Contact Number </th>
                                      <td mat-cell *matCellDef="let element"> {{element.ShareholderContactNumber}} </td>
                                    </ng-container>
                                   <!-- Sale Validity Column -->
                                   <ng-container matColumnDef="ValidTo">
                                    <th mat-header-cell *matHeaderCellDef> Valid To </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ValidTo   | date}} </td>
                                  </ng-container>
                                 <!-- Actions Column -->
                                 <ng-container matColumnDef="Actions">
                                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                                        <td mat-cell *matCellDef="let element">
                                                <button mat-raised-button matTooltip="Add Bid"  type="button" (click)="openBidActionModal(element, bidtemplate)" class="btn btn-white btn-round btn-just-icon">
                                                        <i class="material-icons">add_circle</i>
                                                </button>
                                        </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              </table>                             
  
                            <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>     
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Bid List</h4>
                        <p class="card-category"> List of bids submitted</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table mat-table [dataSource]="dataSourceBid" class="mat-elevation-z8 table">
                                 <!-- ProposalId Column -->
                                 <ng-container matColumnDef="ProposalId">
                                    <th mat-header-cell *matHeaderCellDef> ProposalId </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ProposalId}} </td>
                                  </ng-container>
                                  <!-- SaleId Column -->
                                  <ng-container matColumnDef="SaleId">
                                    <th mat-header-cell *matHeaderCellDef> SaleId </th>
                                    <td mat-cell *matCellDef="let element"> {{element.SaleId}} </td>
                                  </ng-container>
                                  <!-- BidPrice Column -->
                                  <ng-container matColumnDef="BidPrice">
                                    <th mat-header-cell *matHeaderCellDef> BidPrice </th>
                                    <td mat-cell *matCellDef="let element"> {{element.BidPrice}} </td>
                                  </ng-container>
                                  <!-- BidUnit Column -->
                                  <ng-container matColumnDef="BidUnit">
                                    <th mat-header-cell *matHeaderCellDef> BidUnit </th>
                                    <td mat-cell *matCellDef="let element"> {{element.BidUnit}} </td>
                                  </ng-container>
                                  <!-- ShareDescription Column -->
                                  <ng-container matColumnDef="ShareDescription">
                                    <th mat-header-cell *matHeaderCellDef> Share </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ShareDescription}} </td>
                                  </ng-container>
                                  <!-- CreatedDt Column -->
                                  <ng-container matColumnDef="CreatedDt">
                                    <th mat-header-cell *matHeaderCellDef> Bid Date </th>
                                    <td mat-cell *matCellDef="let element"> {{element.CreatedDt  | date}} </td>
                                  </ng-container>
                                  <!-- CreatedBy Column -->
                                  <ng-container matColumnDef="CreatedBy">
                                    <th mat-header-cell *matHeaderCellDef> CreatedBy </th>
                                    <td mat-cell *matCellDef="let element"> {{element.CreatedBy}} </td>
                                  </ng-container>
                                  <!-- UpdatedDt Column -->
                                  <ng-container matColumnDef="UpdatedDt">
                                    <th mat-header-cell *matHeaderCellDef> UpdatedDt </th>
                                    <td mat-cell *matCellDef="let element"> {{element.UpdatedDt  | date}} </td>
                                  </ng-container>
                                  <!-- UpdatedBy Column -->
                                  <ng-container matColumnDef="UpdatedBy">
                                    <th mat-header-cell *matHeaderCellDef> UpdatedBy </th>
                                    <td mat-cell *matCellDef="let element"> {{element.UpdatedBy}} </td>
                                  </ng-container>
                                  <!-- Status Column -->
                                  <ng-container matColumnDef="Status">
                                    <th mat-header-cell *matHeaderCellDef> Status </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
                                  </ng-container>
                                  <!-- StatusComments Column -->
                                  <ng-container matColumnDef="StatusComments">
                                    <th mat-header-cell *matHeaderCellDef> StatusComments </th>
                                    <td mat-cell *matCellDef="let element"> {{element.StatusComments}} </td>
                                  </ng-container>
                                  <!-- StatusDescription Column -->
                                  <ng-container matColumnDef="StatusDescription">
                                    <th mat-header-cell *matHeaderCellDef> Bid Status </th>
                                    <td mat-cell *matCellDef="let element"> {{element.StatusDescription}} </td>
                                  </ng-container>
                                  <!-- CreatedBy_String Column -->
                                  <ng-container matColumnDef="CreatedBy_String">
                                    <th mat-header-cell *matHeaderCellDef> Created By </th>
                                    <td mat-cell *matCellDef="let element"> {{element.CreatedBy_String}} </td>
                                  </ng-container>
                                  <!-- UpdatedBy_String Column -->
                                  <ng-container matColumnDef="UpdatedBy_String">
                                    <th mat-header-cell *matHeaderCellDef> Updated By </th>
                                    <td mat-cell *matCellDef="let element"> {{element.UpdatedBy_String}} </td>
                                  </ng-container>
                                  <!-- ShareholderContactNumber Column -->
                                  <ng-container matColumnDef="ShareholderContactNumber">
                                    <th mat-header-cell *matHeaderCellDef>Contact Number </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ShareholderContactNumber}} </td>
                                  </ng-container>
                                  <!-- Seller Column -->
                                  <ng-container matColumnDef="Seller">
                                    <th mat-header-cell *matHeaderCellDef>Seller </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Seller}} </td>
                                  </ng-container>
                                  <!-- Buyer Column -->
                                  <ng-container matColumnDef="Buyer">
                                    <th mat-header-cell *matHeaderCellDef>Contact Number </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Buyer}} </td>
                                  </ng-container>
                                  <!-- SellerAvailableShares Column -->
                                  <ng-container matColumnDef="SellerAvailableShares">
                                    <th mat-header-cell *matHeaderCellDef>Contact Number </th>
                                    <td mat-cell *matCellDef="let element"> {{element.SellerAvailableShares}} </td>
                                  </ng-container>
                                 <!-- Actions Column -->
                                 <ng-container matColumnDef="Actions">
                                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                                        <td mat-cell *matCellDef="let element">
                                          <span  *ngIf="IsAdmin && (element.Status == 4 || element.Status == 5)">No actions pending</span>
                                                <button mat-raised-button matTooltip="Edit Bid" *ngIf="!IsAdmin && element.Status == 1"  type="button" (click)="openBidEditActionModal(element, bidEdittemplate)" class="btn btn-white btn-round btn-just-icon">
                                                        <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button matTooltip="Remove Bid" *ngIf="!IsAdmin && element.Status == 1"  type="button" (click)="openBidDeleteActionModal(element, bidDeletetemplate)" class="btn btn-white btn-round btn-just-icon">
                                                        <i class="material-icons">delete</i>
                                                </button>                                                
                                                <button mat-raised-button matTooltip="View Rejection Reason" *ngIf="!IsAdmin"   type="button" (click)="openBidInfoActionModal(element, bidInfotemplate)" class="btn btn-white btn-round btn-just-icon">
                                                    <i class="material-icons">info</i>
                                                </button>                                              
                                                <button mat-raised-button matTooltip="Approve Bid" *ngIf="IsAdmin && element.Status == 2"   type="button" (click)="openBidAdminApproveActionModal(element, bidInfotemplate)" class="btn btn-white btn-round btn-just-icon">
                                                    <i class="material-icons">check_circle</i>
                                                </button>
                                                <button mat-raised-button matTooltip="Reject Bid" *ngIf="IsAdmin && element.Status == 2"   type="button" (click)="openBidAdminRejectActionModal(element, bidrejectiontemplate)" class="btn btn-white btn-round btn-just-icon">
                                                    <i class="material-icons">clear</i>
                                                </button>
                                        </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumnsBid"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsBid;"></tr>
                              </table>                             
  
                            <mat-paginator #paginatorBid [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>         
        </div>
    </div>
  </div>
</form>

  <ng-template #bidtemplate>   
    <form class="example-form" [formGroup]="formGroupBidEdit" >
    <div class="mod">        
    <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Add Bid</h4>
                    <p class="card-category">Add a new bid</p>
                </div>
                <div class="card-body">                       
                        <div class="row">
                            <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Bid Unit" type="number" [(ngModel)]="bidUnit" formControlName="bidUnitFC">
                                            <mat-error *ngIf="formGroupBidEdit.controls['bidUnitFC'].errors?.required">Bid Unit is required</mat-error>  
                                            <mat-error *ngIf="formGroupBidEdit.controls['bidUnitFC'].errors?.pattern">Please enter a valid bid unit</mat-error>    
                                             <mat-error *ngIf="formGroupBidEdit.controls['bidUnitFC'].errors?.forbiddenName">Number of shares exceeds available shares</mat-error>   
                                    </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                   <mat-form-field class="example-full-width">
                                     <input matInput placeholder="Bid Price" [disabled]="DisableBidPrice" type="number" [(ngModel)]="bidPrice" formControlName="bidPriceFC">
                                     <mat-error *ngIf="formGroupBidEdit.controls['bidPriceFC'].errors?.required">Bid Price is required</mat-error>  
                                     <mat-error *ngIf="formGroupBidEdit.controls['bidPriceFC'].errors?.pattern">Please enter a valid bid price</mat-error> 
                                   </mat-form-field>
                            </div>                
                        </div>
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="addBid()">Add</button>
                        <button mat-raised-button type="button" class="btn btn-danger pull-right" (click)="cancelBid()">Cancel</button>
                        <div class="clearfix"></div>                        
                </div>
            </div>
        </div>
    </div>
  </form>   
</ng-template>  

<ng-template #bidEdittemplate>      
  <form class="example-form" [formGroup]="formGroupBidEdit1" >
    <div class="mod">        
    <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Edit Bid</h4>
                    <p class="card-category">Edit bid details</p>
                </div>
                <div class="card-body">                       
                        <div class="row">
                            <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Bid Unit" type="text" [(ngModel)]="bidUnitEdit" formControlName="bidUnitEditFC">
                                            <mat-error *ngIf="formGroupBidEdit1.controls['bidUnitEditFC'].errors?.required">Bid Unit is required</mat-error> 
                                            <mat-error *ngIf="formGroupBidEdit1.controls['bidUnitEditFC'].errors?.pattern">Please enter a valid bid unit</mat-error> 
                                            <mat-error *ngIf="formGroupBidEdit1.controls['bidUnitEditFC'].errors?.forbiddenName">Number of shares exceeds available shares</mat-error>     
                                    </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                   <mat-form-field class="example-full-width">
                                     <input matInput placeholder="Bid Price" type="text" [disabled]="DisableBidPrice" [(ngModel)]="bidPriceEdit" formControlName="bidPriceEditFC">
                                     <mat-error *ngIf="formGroupBidEdit1.controls['bidPriceEditFC'].errors?.required">Bid Price is required</mat-error>  
                                     <mat-error *ngIf="formGroupBidEdit1.controls['bidPriceEditFC'].errors?.pattern">Please enter a valid bid price</mat-error>  
                                   </mat-form-field>
                            </div>                
                        </div>
                        <button mat-raised-button type="button" class="btn btn-danger pull-right" (click)="EditBid()">Update</button>
                        <button mat-raised-button type="button" class="btn btn-danger pull-right" (click)="cancelBidEdit()">Cancel</button>
                        <div class="clearfix"></div>                        
                </div>
            </div>
        </div>
    </div>
  </form>   
</ng-template>

<ng-template #bidInfotemplate>      
    <div class="mod">        
    <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Bid Info</h4>
                    <p class="card-category">Bid Rejection Reason</p>
                </div>
                <div class="card-body">                       
                        <div class="row">
                            <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                            <!-- <input matInput placeholder="Bid Description" readonly type="text" [(ngModel)]="bidRejectionReason" formControlName="bidRejectionReason"> -->
                                            <textarea matInput placeholder="Bid Rejection Reason" readonly  [(ngModel)]="bidRejectionReason" ></textarea>
                                    </mat-form-field>
                            </div>            
                        </div>
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="CloseBidInfo()">Okay</button>
                        <div class="clearfix"></div>                        
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #bidDeletetemplate>
    <div class="modal-body text-center">
      <p>Do you want to remove the bid?</p>
      <button type="button" class="btn btn-default" (click)="confirmDelete()" >Yes</button>
      <button type="button" class="btn btn-primary" (click)="declineDelete()" >No</button>
    </div>
</ng-template>

<ng-template #Successtemplate>
    <div class="modal-body text-center">
      <p>{{successTemplateMessage}}</p>
      <p>{{errorTemplateMessage}}</p>
      <button type="button" class="btn btn-default" (click)="successOkay()" >Okay</button>
    </div>
</ng-template>

<ng-template #bidrejectiontemplate>      
  <div class="mod">        
  <div class="col-md-12">
          <div class="card">
              <div class="card-header card-header-danger">
                  <h4 class="card-title">Bid Info</h4>
                  <p class="card-category">Bid Rejection Reason</p>
              </div>
              <div class="card-body">                       
                      <div class="row">
                          <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                          <textarea matInput placeholder="Bid Rejection Reason" [(ngModel)]="bidRejectionReason" ></textarea>
                                  </mat-form-field>
                          </div>            
                      </div>
                      <button mat-raised-button type="button" class="btn btn-danger pull-right" (click)="rejectBid()">Reject Bid</button>
                      <button mat-raised-button type="button" class="btn btn-danger pull-right" (click)="cancelBidRejection()">Cancel</button>
                      <div class="clearfix"></div>                        
              </div>
          </div>
      </div>
  </div>
</ng-template>