<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" 
type = "square-loader" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<form class="example-form" [formGroup]="formGroup" >
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
                <div class="col-md-10">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title">Share</h4>
                                <p class="card-category">Create new share</p>
                            </div>
                            <div class="card-body">                       
                                    <div class="row">
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Select QID or Enter a new QID" required [(ngModel)]="qidNgModel" #qidSearch
                                                [formControl]="myControl" [matAutocomplete]="auto" >
                                                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onQIDSelectionChange($event)">
                                                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option.QID" >
                                                    {{option.QID}}
                                                  </mat-option>
                                                </mat-autocomplete>
                                                <mat-error *ngIf="formGroup.controls['myControl'].errors?.required">QID is required</mat-error>  
                                              </mat-form-field>
                                          </div>
                                        <div class="col-md-4">
                                                <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Shareholder ID" type="text" required [(ngModel)]="ShareholderID" formControlName="ShareholderIDFormControl">
                                                        <mat-error *ngIf="formGroup.controls['ShareholderIDFormControl'].errors?.required">ShareholderID is required</mat-error>    
                                                </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                               <mat-form-field class="example-full-width">
                                                 <input matInput placeholder="Available Shares" type="text" required [(ngModel)]="AvailableShares" formControlName="AvailableSharesFormControl">
                                                 <mat-error *ngIf="formGroup.controls['AvailableSharesFormControl'].errors?.required">Available Shares is required</mat-error>    
                                               </mat-form-field>
                                        </div>                
                                    </div>
                                    <button mat-raised-button type="button" class="btn btn-danger pull-right" (click)="resetAddNewShare()">Reset</button>
                                    <button mat-raised-button type="button" class="btn btn-danger pull-right" (click)="onSubmit()">Submit</button>
                                    <div class="clearfix"></div>                        
                            </div>
                        </div>
                    </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Share List</h4>
                        <p class="card-category"> List of shares available</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">
                                <!-- ShareDetailsId Column -->
                                <ng-container matColumnDef="ShareDetailsId">
                                  <th mat-header-cell *matHeaderCellDef> ShareDetailsId </th>
                                  <td mat-cell *matCellDef="let element"> {{element.ShareDetailsId}} </td>
                                </ng-container>
                                <!-- UserId Column -->
                                <ng-container matColumnDef="UserId">
                                  <th mat-header-cell *matHeaderCellDef> UserId </th>
                                  <td mat-cell *matCellDef="let element"> {{element.UserId}} </td>
                                </ng-container>
                                <!-- AvailableShares Column -->
                                <ng-container matColumnDef="AvailableShares">
                                  <th mat-header-cell *matHeaderCellDef> Available Shares </th>
                                  <td mat-cell *matCellDef="let element"> {{element.AvailableShares}} </td>
                                </ng-container>
                                <!-- CreatedDt Column -->
                                <ng-container matColumnDef="CreatedDt">
                                  <th mat-header-cell *matHeaderCellDef> Created Date </th>
                                  <td mat-cell *matCellDef="let element"> {{element.CreatedDt  | date}} </td>
                                </ng-container>
                                <!-- CreatedBy Column -->
                                <ng-container matColumnDef="NumberOfShares">
                                  <th mat-header-cell *matHeaderCellDef> CreatedBy </th>
                                  <td mat-cell *matCellDef="let element"> {{element.CreatedBy}} </td>
                                </ng-container>
                                <!-- UpdatedDt Column -->
                                <ng-container matColumnDef="UpdatedDt">
                                  <th mat-header-cell *matHeaderCellDef> Last Modified Date </th>
                                  <td mat-cell *matCellDef="let element"> {{element.UpdatedDt  | date}} </td>
                                </ng-container>
                                <!-- UpdatedBy Column -->
                                <ng-container matColumnDef="UpdatedBy">
                                  <th mat-header-cell *matHeaderCellDef> UpdatedBy </th>
                                  <td mat-cell *matCellDef="let element"> {{element.UpdatedBy}} </td>
                                </ng-container>
                                <!-- CreatedBy_String Column -->
                                <ng-container matColumnDef="CreatedBy_String">
                                  <th mat-header-cell *matHeaderCellDef> Created By </th>
                                  <td mat-cell *matCellDef="let element"> {{element.CreatedBy_String}} </td>
                                </ng-container>
                                <!-- UpdatedBy_String Column -->
                                <ng-container matColumnDef="UpdatedBy_String">
                                  <th mat-header-cell *matHeaderCellDef> Modified By </th>
                                  <td mat-cell *matCellDef="let element"> {{element.UpdatedBy_String}} </td>
                                </ng-container>
                                <!-- ShareholderID Column -->
                                <ng-container matColumnDef="ShareholderID">
                                  <th mat-header-cell *matHeaderCellDef> ShareholderID </th>
                                  <td mat-cell *matCellDef="let element"> {{element.ShareholderID}} </td>
                                </ng-container>
                                <!-- AssignedUser Column -->
                                <ng-container matColumnDef="AssignedUser">
                                  <th mat-header-cell *matHeaderCellDef> Shareholder </th>
                                  <td mat-cell *matCellDef="let element"> {{element.AssignedUser}} </td>
                                </ng-container>
                                 <!-- Actions Column -->
                                 <ng-container matColumnDef="Actions">
                                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                                        <td mat-cell *matCellDef="let element">
                                                <button mat-raised-button matTooltip="Edit share"  type="button" (click)="openEditActionModal(element, edittemplate)" class="btn btn-white btn-round btn-just-icon">
                                                        <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button matTooltip="Delete share" type="button" (click)="openDeleteActionModal(element, deletetemplate)" class="btn btn-white btn-round btn-just-icon">
                                                        <i class="material-icons">delete</i>
                                                </button>
                                        </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              </table>                             
  
                            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
    </div>
  </div>
</form>



  <ng-template #edittemplate>  
      <form class="example-form" [formGroup]="formGroupPopUp" >    
        <div class="mod">        
        <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Modify Share</h4>
                        <p class="card-category">Modify share details</p>
                    </div>
                    <div class="card-body">                       
                            <div class="row">
                                <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Shareholder ID" type="text" [(ngModel)]="ShareholderIDPopup" formControlName="ShareholderIDPopupFC">
                                                <mat-error *ngIf="formGroupPopUp.controls['ShareholderIDPopupFC'].errors?.required">Shareholder ID is required</mat-error>  
                                        </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                       <mat-form-field class="example-full-width">
                                         <input matInput placeholder="Available Shares" type="text" [(ngModel)]="AvailableSharesPopup" formControlName="AvailableSharesPopupFC">
                                         <mat-error *ngIf="formGroupPopUp.controls['AvailableSharesPopupFC'].errors?.required">Available Shares is required</mat-error> 
                                         <mat-error *ngIf="formGroupPopUp.controls['AvailableSharesPopupFC'].errors?.pattern">Please enter a valid share</mat-error>   
                                       </mat-form-field>
                                </div>                
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="saveEdit()">Update</button>
                            <button mat-raised-button type="button" class="btn btn-danger pull-right" (click)="cancelEdit()">Cancel</button>
                            <div class="clearfix"></div>                        
                    </div>
                </div>
            </div>
        </div>
      </form>
  </ng-template>  

  <ng-template #deletetemplate>
        <div class="modal-body text-center">
          <p>Do you want to remove the share?</p>
          <button type="button" class="btn btn-default" (click)="confirmDelete()" >Yes</button>
          <button type="button" class="btn btn-primary" (click)="declineDelete()" >No</button>
        </div>
  </ng-template>

  
  <ng-template #Successtemplate>
        <div class="modal-body text-center">
          <p>{{successTemplateMessage}}</p>
          <button type="button" class="btn btn-default" (click)="successOkay()" >Okay</button>
        </div>
  </ng-template>